@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--accent: #ec4e20;
		--accent-dark: #d6451c;

		--bg-surface-light: #fbfbfb;
		--bg-surface-dark: #0f0f0f;

		--bg-base-light: #ffffff;
		--bg-base-dark: #090909;

		--outline-light: #e5e5e5;
		--outline-dark: #222222;

		--text-light: #000000;
		--text-dark: #ffffff;

		--depth-light: rgba(0, 0, 0, 0.06);
		--depth-dark: rgba(60, 60, 60, 0.3);

		--bg-surface: var(--bg-surface-light);
		--bg-base: var(--bg-base-light);
		--outline: var(--outline-light);
		--text: var(--text-light);
		--depth: var(--depth-light);

		@media (prefers-color-scheme: dark) {
			--bg-surface: var(--bg-surface-dark);
			--bg-base: var(--bg-base-dark);
			--outline: var(--outline-dark);
			--text: var(--text-dark);
			--depth: var(--depth-dark);
		}

		&.light {
			--bg-surface: var(--bg-surface-light);
			--bg-base: var(--bg-base-light);
			--outline: var(--outline-light);
			--text: var(--text-light);
			--depth: var(--depth-light);
		}

		&.dark {
			--bg-surface: var(--bg-surface-dark);
			--bg-base: var(--bg-base-dark);
			--outline: var(--outline-dark);
			--text: var(--text-dark);
			--depth: var(--depth-dark);
		}
	}
}
